<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>상품그룹 상세</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/output.css}" rel="stylesheet"/>
</head>

<body>
<!-- 네비게이션바 -->
<div th:replace="fragments/navbar :: navbarFragment"></div>

<div class="m-1">
    <div>상품그룹 상세</div>
    <table class="border-collapse text-center">
        <thead>
        <tr>
            <th class="border border-black">ID</th>
            <th class="border border-black">생성일시</th>
            <th class="border border-black">이름</th>
            <th class="border border-black">영어이름</th>
            <th class="border border-black">카테고리</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <form name="groupUpdateForm">
                <td class="border border-black">
                    <input class="w-16 p-1" name="groupId" th:value="${group.id()}" disabled/>
                </td>
                <td class="border border-black p-1"
                    th:text="${#temporals.format(group.createdAt(),'MM.dd HH:mm')}">
                </td>
                <td class="border border-black">
                    <input class="w-16 p-1" name="name" th:value="${group.name()}" required/>
                </td>
                <td class="border border-black">
                    <input class="w-16 p-1" name="nameEn" th:value="${group.nameEn()}" required/>
                </td>
                <td class="border border-black">
                    <select name="category">
                        <option th:each="category, status: ${categories}" th:value="${category.name()}"
                                th:text="${category.getValue_ko()}" th:selected="${group.category().equals(category)}">
                            카테고리
                        </option>
                    </select>
                </td>
                <td class="border border-black">
                    <input type="button" value="수정" onclick="updateGroup()"/>
                </td>
            </form>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <a href="/admin/groups">목록으로</a>
</div>

<script>
    const updateGroup = () => {
        const form = document.forms["groupUpdateForm"];
        if (!form) return;
        const groupId = form["groupId"];
        const name = form["name"];
        const nameEn = form["nameEn"];
        const category = form["category"];

        const checkList = [
            [groupId, "상품그룹 ID 정보에 문제가 있습니다."],
            [name, "이름을 입력해 주세요."],
            [nameEn, "영어이름을 입력해 주세요."],
            [category, "카테고리를 선택해 주세요."],
        ];
        for (const [input, label] of checkList) {
            if (input.value === "") {
                alert(label);
                input.focus();
                return;
            }
        }
        fetch(`/api/group`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                groupId: groupId.value,
                name: name.value,
                nameEn: nameEn.value,
                category: category.value,
            })
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('서버 오류가 발생했습니다.');
                }
                return response.text();
            })
            .then(data => {
                alert(data);
                location.href = "/groups";
            })
            .catch(error => {
                console.error('데이터를 가져오는 동안 오류가 발생했습니다:', error);
            });
    }
</script>
</body>
</html>
