<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>요청사항 관리</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/output.css}" rel="stylesheet"/>
</head>

<body>
<!-- 네비게이션바 -->
<div th:replace="fragments/navbar :: navbarFragment"></div>

<div class="m-1">
    <div>요청사항 <span th:text="${list.size()}"></span>건</div>
    <table class="border-collapse text-center">
        <thead>
        <tr>
            <th class="border border-black">ID</th>
            <th class="border border-black">생성일시</th>
            <th class="border border-black">내용</th>
            <th class="border border-black">그룹</th>
            <th class="border border-black">그룹카테고리</th>
            <th class="border border-black">비트번호</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dto, status: ${list}">
            <td class="border border-black" th:text="${dto.id()}"></td>
            <td class="border border-black" th:text="${#temporals.format(dto.createdAt(),'MM.dd HH:mm')}"></td>
            <td class="border border-black" th:text="${dto.body()}"></td>
            <td class="border border-black" th:text="${dto.group().name()}"></td>
            <td class="border border-black" th:text="${dto.groupCategory().getValue_ko()}"></td>
            <td class="border border-black" th:text="${dto.bit()}"></td>
            <td class="border border-black p-1">
                <a th:href="|/request/${dto.id()}|">수정</a>
            </td>
            <td class="border border-black p-1">
                <button th:onclick="|deleteRequest(${dto.id()});|">삭제</button>
            </td>
        </tr>

        <tr>
            <form action="/api/request" method="post">
                <td class="border border-black">
                    <input class="w-16" name="requestId" disabled/>
                </td>
                <td class="border border-black p-1">
                    <input class="w-16" name="createdAt" disabled/>
                </td>
                <td class="border border-black">
                    <input class="w-16" name="body" required/>
                </td>
                <td class="border border-black">
                    <select name="groupId">
                        <option th:each="group, status: ${groups}" th:value="${group.id()}"
                                th:text="${group.name()}">그룹
                        </option>
                    </select>
                </td>
                <td class="border border-black">
                    <select name="groupCategory">
                        <option th:each="group, status: ${groups}" th:value="${group.category().name()}"
                                th:text="|${group.name()}: ${group.category().getValue_ko()}|">그룹
                        </option>
                    </select>
                </td>
                <td class="border border-black p-1">
                    <input class="w-16" name="bit" required/>
                </td>
                <td class="border border-black">
                    <input type="submit" value="추가"/>
                </td>
            </form>
        </tr>
        </tbody>
    </table>
</div>

<script>
    const deleteRequest = (id) => {
        fetch(`/api/request?id=${id}`, {method: 'DELETE'})
            .then(response => {
                if (!response.ok) {
                    throw new Error('서버 오류가 발생했습니다.');
                }
                return response.text();
            })
            .then(data => {
                alert(data);
                location.href = "/requests";
            })
            .catch(error => {
                console.error('데이터를 가져오는 동안 오류가 발생했습니다:', error);
            });
    }

</script>
</body>
</html>
