<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 탑메뉴 -->
<div th:fragment="navbarFragment">
    <div class="flex flex-row gap-2 border border-black m-1 p-1">
        <a href="/">HOME</a>
        <a href="/members">MEMBERS</a>
        <a href="/groups">GROUPS</a>
        <a href="/products">PRODUCTS</a>
        <a href="/options">OPTIONS</a>
        <a href="/orders">ORDERS</a>
        <a href="/payments">PAYMENTS</a>
        <a href="/coupons">COUPONS</a>
        <a href="/member-coupons">MEMBER_COUPONS</a>
        <a href="/requests">REQUESTS</a>
    </div>
</div>
</html>