<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 탑메뉴 -->
<div th:fragment="navbarFragment">
    <div class="flex flex-row gap-2 border border-black m-1 p-1">
        <a href="/">HOME</a>
        <a href="/admin/members">MEMBERS</a>
        <a href="/admin/groups">GROUPS</a>
        <a href="/admin/products">PRODUCTS</a>
        <a href="/admin/options">OPTIONS</a>
        <a href="/admin/orders">ORDERS</a>
        <a href="/admin/payments">PAYMENTS</a>
        <a href="/admin/coupons">COUPONS</a>
        <a href="/admin/member-coupons">MEMBER_COUPONS</a>
    </div>
</div>
</html>